
.ec {
    color: white;
    background-image: url("../images/inicio-background-1.jpg");
    max-width: 2000px;
    background-size: 2000px auto;
    background-position: center top;
    background-repeat: repeat-y;
}
.homepage {
    color: white;
}
.homepage a {
    color: white;
}
.homepage a:hover {
    text-decoration: none;
    color: white;
}
/* .homepage-post{
    padding: 150px !important;
} */

.hp-col-autora {
    padding-top: 200px;
}
.hp-col-polaroid {
    height: 350px;
}
.hp-col-book {
    height: 750px;
}
.hp-col-contacto {
    padding-top: 150px;
}
.hp-col-articulo {
    padding-top: 100px;
}
.homepage-glasses{
    height: 330px;
}
.hp-col-contacto {
    padding-top: 100px;
}
#mask {
    position: absolute;
    transform: rotate(-14.5deg);
    top: 42px;
    left: 139px;
    height: 258px;
    overflow: hidden;
}
#mask img {
    width: 200px;
}


.hp-col-flowers{
    height: 600px;
    /* overflow: hidden; */
}

