
.ec {
    color: rgb(34, 21, 6);
    
    /* background-image: url("../images/inicio-background-2.jpg"); */
    min-height: calc(100vh);
    max-width: 2000px;
    background-size: 2000px auto;
    background-position: center top;
    background-repeat: repeat-y;
}
.homepage {
    color: rgb(37, 19, 4);
}
.homepage a {
    color: rgb(37, 19, 4);
}
.homepage a:hover {
    text-decoration: none;
    color: rgb(128, 66, 16);
}

.homepage h1 {
    text-shadow: 1px 1px 2px #232222;
}
/* .homepage-post{
    padding: 150px !important;
} */

.hp-col-autora {
    padding-top: 200px;
}
.hp-col-polaroid {
    height: 350px;
}
.hp-col-book {
    height: 750px;
}
.hp-col-contacto {
    padding-top: 150px;
}
.hp-col-articulo {
    padding-top: 100px;
}
.homepage-glasses{
    height: 330px;
}
.hp-col-contacto {
    padding-top: 150px;
}
#mask {
    position: absolute;
    transform: rotate(-14.5deg);
    top: 42px;
    left: 139px;
    height: 258px;
    overflow: hidden;
}
#mask img {
    width: 200px;
}


.footer {
    height: 40px;
    margin-top: -40px;
    opacity: 0.7;
    background-color: black;
    color: white;
    vertical-align: middle;
}

.hp-flipbook{
    position: absolute !important;
    color: black;
    top: 119px;
    left: 126px;
    transform: rotate(16.0deg);
}


.hp-flipbook__page{
    cursor: pointer;
    word-wrap: none;
    height: 100%;
    padding: 0 20px;
    background-color: rgb(251, 235, 224);
    /* background-image: url("/images/paper.jpg"); no funciona */
}
.hp-flipbook__page .col{
    padding: 50px;
}

.hp-leftpage {
    background: linear-gradient(to right, transparent 90%, #4441412e 100%); 
}
.hp-rightpage {
    background: linear-gradient(to left, transparent 95%, #44414112 100%);
}


